.coin-container{
    border: solid 1px red;
    color: white;
    display: flex;
    justify-content: space-evenly;
    margin: 9px 0px 0px 0px;
  }

.coin-row {
  display: flex;
  align-items: center;
  height: 50px;
  width: 990px;
}

.coin {
  display: flex;
  align-items: center;
  color: white;
}

.coin h1 {
  font-size: 20px;
  width: 150px;
}

.coin img {
  height: 30px;
  width: 30px;
  display: flex;
  padding-left: 50px;
  padding-right: 50px;
}

.coin-data {
  display: flex;
  text-align: right;
  width: 100%;
}

.coin-price {
  width: 110px;
}

.coin-volume {
  width: 155px;
}

.coin-marketcap {
  width: 230px;
}

.coin-percent {
  width: 100px;
}

.red {
  color: #f00606;
}

.green {
  color: #11d811;
}

.coin-symbol{
  color: white
}

.input {
  font-size: 50px;
  height: px;
  border-radius: 4px;
  border: none;
  position: static;
  
}